/**
 * bodyタグ（文書本体）
 */
 body {
	background-color: #ffffff;
	color: #494949;
}

.button {
	display       : inline-block;
	border  : 1px solid #1f599bfd;
	border-radius : 20%;          /* 角丸       */
	font-size     : 12pt;        /* 文字サイズ */
	text-align    : center;      /* 文字位置   */
	cursor        : pointer;     /* カーソル   */
	padding       : 10px 10px;   /* 余白       */
	background    : #a3c3ec;    /* 背景色     */
	color         : #1f599bfd;     /* 文字色     */
	line-height   : 1em;         /* 1行の高さ  */
	opacity       : 0.9;         /* 透明度     */
	transition    : .3s;         /* なめらか変化 */
	
  }
  .button:hover {
	box-shadow    : none;        /* カーソル時の影消去 */
	opacity       : 1;           /* カーソル時透明度 */
  }
  .wh-200px{
    width: 200px !important;
    height: 200px !important;
}

/**
 * codeタグ（コードテキスト）
 */
code {
	font-family: "Meiryo", Menlo, Monaco, Consolas, "Droid Sans Mono", "Courier New", monospace, "Droid Sans Fallback";
}

/**
 * preタグ（整形済みテキスト）
 */
pre {
	font-family: "Meiryo", Menlo, Monaco, Consolas, "Droid Sans Mono", "Courier New", monospace, "Droid Sans Fallback";
}

/**
 * blockquoteタグ（引用）
 */
blockquote {
	border-color: #eaf3ff;;
}

/**
 * h1タグ（見出し1）
 */

 h1 {
    padding: 0.5em;/*文字周りの余白*/
    color: #010101;/*文字色*/
    background: #eaf3ff;/*背景色*/
    border-bottom: solid 5px #516ab6;/*下線*/
    border-left: solid 10px #516ab6;
    
  }



/**
 * h2タグ（見出し2）
 */
 h2 {
    background: #dfefff;
    box-shadow: 0px 0px 0px 5px #dfefff;
    border: dashed 1px #96c2fe;
    padding: 0.2em 0.5em;
    color: #454545;
  }

/**
 * h3タグ（見出し3）
 */
h3 {
	color: #494949;
	padding: .5em .75em;
	background-color: #f4f4f4;
	border-left: 6px solid #eaf3ff;
}

/**
 * h4タグ（見出し4）
 */
h4 {
	color: #494949;
	padding: .5em .75em;
	background-color: #f4f4f4;
	border-radius: 6px;
}

/**
 * h5タグ（見出し5）
 */
h5 {
	color: #494949;
	padding: .5em .75em;
	border-bottom-style: dotted;
	border-bottom-color: #eaf3ff;
	border-bottom-width:thin;
}

/**
 * tableタグ（表）
 */
table thead th {
	background: #eaf3ff;
	font-weight: bold;
	vertical-align: top;
	color: #fff;
}
table th,
table td {
	padding: 6px 13px;
	border: 1px solid #ddd;
}
table tr {
	background-color: #fff;
	border-top: 1px solid #ccc;
}
table tr:nth-child(2n) {
	background-color: #f8f8f8;
}

/**
 * hrタグ（水平線）
 */
hr {
	background-color: #fff;
	border-color: #eaf3ff;;
	border-top: 1px dashed #eaf3ff;;
}

/**
 * ulタグ（リスト）
 */
ul li{
	padding:0px;
	margin:0px;
}
ul li{
	list-style-type:none !important;
	list-style-image:none !important;
	margin: 5px 0px 5px 0px !important;
}
ul li{
	position:relative;
	padding-left:20px;
}
ul li:after{
	content:'';
	display:block; 
	position:absolute; 
	background:#eaf3ff;;
	width:9px;
	height:9px; 
	top:5px; 
	left:5px; 
	transform:rotate(-45deg);
	-webkit-transform:rotate(-45deg);
	-o-transform:rotate(-45deg);
}

/**
 * olタグ（順序リスト）
 */
 ol {
	counter-reset:li;
	padding:0;
	list-style:none;
}
ol li {
	position:relative;
	margin:0 0 8px 4em;
	padding:2px 8px;
}
ol li:before {
	content:counter(li);
	counter-increment:li;
	position:absolute;
	top:-2px;
	left:-2em;
	width:2em;
	padding:3px 0;
	color:#fff;
	background:#eaf3ff;;
	font-weight:bold;
	text-align:center;
	border-radius: 20px;
}

/**
 * aタグ（リンク）
 */
a {
	color: #4078c0;
	text-decoration: none;
}
a:hover,
a:active {
	text-decoration: underline;
}