<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/blue2.css}">
    <link rel="stylesheet" th:href="@{/css/button.css}">
    <title>ToDoアプリ</title>
</head>
<body>
    <h1>ToDo管理アプリ</h1>

    
    <form role="form" th:action="@{/login}" th:object="${MidForm}" method="get">
        <input type="text" required th:field="*{mid}" size = 50/>
        <input type="submit" value="ログイン" class = "button_yello" />
    </form>
    
   
</body>
</html>