<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/blue2.css}">
    <link rel="stylesheet" th:href="@{/css/button.css}">
    <!-- <link rel="stylesheet" th:href=@{/css/todo_css.css} /> -->
    <!-- bootstrap, <head>の中に以下のcss,jsを入れる -->
   <!-- <link
   rel="stylesheet"
   href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
   integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
   crossorigin="anonymous"
 />
 <script
   src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
   integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
   crossorigin="anonymous"
 ></script>
 <script
   src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
   integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
   crossorigin="anonymous"
 ></script>
 <script
   src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
   integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
   crossorigin="anonymous"
 ></script> -->

    <title>ToDoアプリ</title>
</head>
<body>
    <form role="form" th:action="@{/__${mid}__/allToDos}" , method="get">
        <p><input type="submit" value="皆のToDoを見る" class = "button_yello"></p>
    </form>
    <h1>[[${name}]]さんのToDo一覧</h1>
    
    <table >
        <tr>
            <th>ToDoタイトル</th>
            <th>作成日</th>
            <th></th>
        </tr>
        <tr th:each="t: ${todos}">
            <td>[[${t.title}]]</td>
            <td>[[${t.createdAt}]]</td>
            <td><form role="form" th:action="@{/__${mid}__/__${t.seq}__/done}" method="post">
                <p><input type="submit" value="完了"  class = "button"/></p>
            </form></td>
        </tr>
    </table>


    <form role="form" th:action="@{/__${mid}__/register}" th:object="${todoForm}" method="post">
        <input type="text" required th:field="*{title}" />
        <input type="submit" value="ToDo登録" class = "button"/>
        <br><span th:if="${#fields.hasErrors('title')}" th:errors="*{title}" style="color: red"></span>
    </form>
    

    <h1>[[${name}]]さんのDone一覧</h1>
    <table >
        <tr>
            <th>Doneタイトル</th>
            <th>完了日</th>
            
        </tr>
        <tr th:each="d: ${dones}">
            <td>[[${d.title}]]</td>
            <td>[[${d.doneAt}]]</td>
        </tr>
    </table>

    


</body>
</html>